<div>
<article class="entry" role="article">
  <%= render :partial => "includes/article", :locals => { :post => @post } %> 
  <footer>
    <p class="meta">
      <%= render :partial => "post/author" , :locals => { :post => @post }%>
      <%= render :partial => "post/date" , :locals => { :post => @post }%>
      <%= render :partial => "post/categories" , :locals => { :post => @post }%>
    </p>
    
    <%= render :partial => "post/sharing", :locals => { :post => @post } unless @post.enable_sharing == false %>
    <p class="meta">
        <%# render :partial => "next_and_pre", :locals => { :post => @post } %> 
    </p>
  </footer>
</article>
<% if @site.disqus_short_name && @post.enable_comment %>
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">
        <%= render :partial => "post/disqus_thread" %>
    </div>
  </section>   
<% end %>

</div>

<% if @post.has_sidebar? %>
<aside class="sidebar">
    <% if @site.has_custom_post_sidebar? %>
        <%= render :partial => "asides/custom_post_asides" %>
    <% else %>
        <%= render :partial => "asides/default_asides" %>
    <% end %>
</aside>
<% end %>
