<div class="sidebar">
  <div class="box">
    <div class="content">
      <%= link_to(t("posts.create_post"), new_panel_post_path, :class => "btn success") %>
    </div>
  </div>
</div>

<div class="content">
	<div class="box">
		<h1>Post List</h1>

<table class="grid">
  <tr class="head">
    <td class="first">ID</td>
    <td style="width:300px">Title</td>
    <td>User</td>
    <td>at</td>
    <td>State</td>
    <td></td>
  </tr>

<% @posts.each do |post| %>
  <tr class="">
    <td class="first"><%= post.id %></td>
    <td><%= truncate(post.title,:length => 30) %></td>
    <td><%= post.user.login if post.user %></td>
    <td><%= l post.created_at,:format => :short %></td>
    <td><%# render_post_state_s(post) %></td>
    <td><%= link_to t("common.edit"), edit_panel_post_path(post) %>
    <%= link_to t("common.delete"), panel_post_path(post), :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>
<%# will_paginate(@posts) %>

	</div>
</div>