<%= render :partial => "includes/head" %>
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner"> <%= render :partial => "includes/header" %></header>
  <nav role="navigation"><%= render :partial => "includes/navigation" %></nav>
  <div id="main">
    <div id="content">
        <%= yield %>
    </div>
  </div>
  <footer role="contentinfo"><%= render :partial => "includes/footer" %></footer>
  <%= render :partial => "includes/after_footer" %>
</body>
</html>